/* ////////////// Style for all documents //////////// */
body {
    font-family: 'Spartan', sans-serif;
    font-size: 1.5em;
    background: powderblue;
    animation: fadeIn ease .5s;  
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    text-align: center;
    font-weight: bolder;
    font-family: Helvetica;
    font-size: 1.2em;
}

/* /////////// TEXT CLASSES /////////// */
.black-text {
    color: black;
}

.slategrey-text {
    color: slategrey;
}

.white-text {
    color: white;
}

.charcoal-text {
    color: #555555;
}

.bold-text {
    font-weight: bold;
}

.bolder-text {
    font-weight: bolder;
}

.centered-text {
    text-align: center;
    width: 100%;
    display: block;
}

/* ////////// BORDER/BOX CLASSES ////////// */
.white-box {
    border-color: white;
    border-width: .25em;
    border-style: solid;
    border-radius: .125em;
    padding: .2em;
    width: auto;
    background: white;
}

.steelblue-box {
    border-color: steelblue;
    border-width: .25em;
    border-style: solid;
    border-radius: .125em;
    padding: .2em;
    width: auto;
    background: steelblue;
}

#long-box {
    height: 50em;
    width: auto;
    margin-top: 1em;
}

#narrow-box {
    width: 50%;
    margin: auto;
    margin-top: 1em;
}

.header-border {
    /* border-color: white; */
    border-color: #555555;
    border-width: .25em;
    border-style: solid;
    border-radius: .2em;
    padding: .2em;
    /* width: 100%; */
    /* box-shadow: .2em .25em .25em #555555; */ /* for white border */
    box-shadow: .2em .25em .25em slategray;
    background: skyblue;
}

/* ////////// DIVISIONS/LINKS CLASSES ////////// */
header a {
    padding: .5em;
    font-size: 2em;
    width: 50%;
    /* float: left; */
    text-align: center;
    display: inline-block; /* displays in center of page */
}

header a:hover {
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.link-in-steelblue {
    color: white;
    transition-duration: .5s;
}

.link-in-steelblue:hover {
    color: black;
    transition-duration: .5s;
}

/* ////////// IN-PAGE ELEMENT CLASSES ////////// */
.text-block{
    display: inline-block;
    width: 31%;
    border-width: .3em;
    border-color: white;
    border-radius: 1em;
    border-style: solid;
    box-sizing: border-box;
    padding: 1em;
    margin-top: .5em;
    margin-left: .5em;
    height: 30em;
    background: lightskyblue;
    box-shadow: .2em .25em .25em black;
}

.resumePageIcon {
    padding-top: 1em;
    width: 100%;
    margin: auto;
    height: 50%;
    width: 90%;
    padding-bottom: 2em;
}

#aboutImage {
    width: 50%;
    height: 50%;
    float: left;
    border-width: .3em;
    border-color: white;
    border-radius: 1em;
    border-style: solid;
}

#aboutMe {
    text-align: center;
}

/* ////////// NAVIGATION BAR ////////// */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: .75em;
    color: white;
    text-decoration: none;
    font-size: .8em;
    transition-duration: .5s;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: slategrey;
    color: white;
    text-decoration: none;
}

.redirect {
    color: white;
    transition-duration: .5s;
}

.redirect:hover {
    color: black;
    transition-duration: .5s;
}

.navbar .redirect {
    float: right;
    text-align: center;
    padding: .75em;
    color: white;
    text-decoration: none;
    font-size: .8em;
    transition-duration: .5s;
}

/* Current/active navbar link */
.active {
    background-color: steelblue;
}

/* ////////// CONTACT FORM CLASSES ////////// */
.contact-info {
    float: right;
    color: white;
    font-size: .8em;
}

/* Contact form styling: Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
    width: 100%; /* 100% width */
    padding: .8em; /* Some padding */
    border: .1em solid #ccc; /* Gray border */
    border-radius: .2em; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: .6em; /* Add a top margin */
    margin-bottom: 1em; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #555;
    color: white;
    padding: .8em 1em;
    border: none;
    border-radius: .2em;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: steelblue;
}

/* Add a background color and some padding around the form */
.contactform {
    border-radius: .2em;
    background-color: #f2f2f2;
    padding: 1em;
}

/* ////////// RESUME SELECT DROPDOWN MENU CLASSES ////////// */
.resumeSelectForm {
    width: 100%;
}

#selectedResume {
    width: 65%;
    padding: .9em; /* Some padding */
    border: .1em solid #ccc; /* Gray border */
    border-radius: .2em; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2em; /* Add a top margin */
    margin-bottom: .9em; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Button stuff for resume page */
.resumeButton {
    color: white;
    background-color: #555;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9em;
    cursor: pointer;
    transition-duration: .5s;
    border: none;
    border-radius: .2em;
    padding: .75em 1em;
}

.resumeButton:hover {
    background-color: steelblue;
    color: white;
}

.viewResumeButton {
    color: white;
    background-color: steelblue;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: .9em;
    cursor: pointer;
    transition-duration: .5s;
    border: none;
    border-radius: .2em;
    padding: .75em 1em;
    width: 10em;
    margin: auto;
    /* box-shadow: .2em .25em .25em black; */
}

.viewResumeButton:hover {
    background-color: navy;
    color: white;
}


/* ////////// RESPONSIVENESS FOR SCREEN DIMENSIONS ////////// */
/* Bigger than 1080p Resolution */
@media screen and (min-width: 1920px) {
    .text-block {
        display: inline-block;
        width: 30%;
        border-width: .3em;
        border-color: white;
        border-radius: 1em;
        border-style: solid;
        box-sizing: border-box;
        padding: 1em;
        margin-top: .5em;
        margin-left: .5em;
        height: 30em;
        background: lightskyblue;
        box-shadow: .2em .25em .25em black;
    }

    .resumePageIcon {
        width: 50%;
        display: block;
    }
}

/* Weird resolution range that requires these special scales */
@media screen and (max-width: 1600px) {
    .resumeSelectForm #selectedResume {
        width: 60%;
    }

    .text-block {
        display: block;
        height: auto;
        margin: auto;
        margin-top: 1em;
    }

    #long-box {
        height: 100em;
    }
}

/* Threshold for mallest size we allow for horizontal navbar */
@media screen and (max-width: 1080px) {
    .resumeSelectForm #selectedResume {
        width: 60%;
    }

    .navbar a {
        float: none;
        display: block;
    }

    .navbar .redirect {
        float: none;
    }

    header a {
        width: 70%;
        font-size: 1em;
    }

    .text-block {
        display: block;
        width: auto;
        margin: auto;
        margin-top: 1em;
    }

    #long-box {
        height: 100em;
    }

    #aboutMe {
        width: 100%;
        float: none;
        display: block;
    }

    #aboutImage {
        width: 90%;
        float: none;
        display: block;
        margin: auto;
    }

    .viewResumeButton {
        width: 6em;
    }

    .resumePageIcon {
        display: block;
    }
}

