/* <link href="https://fonts.googleapis.com/css?family=Calibri" rel="stylesheet" type="text/css"> */

body {
    font-family: Calibri;
    font-size: 20px;
    background: linear-gradient(90deg, lightblue, bisque);
  }
header {
  text-align: center;
}
.black-text {
  color: black;
}
.slategrey-text {
  color: slategrey;
}
.white-border {
  border-color: white;
  border-width: 5px;
  border-style: solid;
  border-radius: 3px;
  background: white;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: cornflowerblue;
  cursor: pointer;
}
